/******THE CSS RESET****/

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
  font-family: "Manrope", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: hsl(210, 44%, 95%);
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font-family: "Open-Sans", sans-serif;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
li,
img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.container {
  display: flex;
  margin-top: 11rem;
  max-width: 100%;
  width: 55rem;
  margin-bottom: 3rem;
  background: white;
}

.article__main {
  margin: 2rem 1.5rem 1rem 1.5rem;
}

.article-header__header {
  margin-bottom: 1rem;
}

.article-header__header p {
  font-weight: 700;
    font-size: 1.3rem;
    color: hsl(217, 19%, 35%);
}

.article__paragraph p {
  color: hsl(214, 17%, 51%);
  font-weight: 500;
  line-height: 1.6rem;
  font-size: 1rem;
  width: 27rem;
}

.article__info {
  display: flex;
  
}

.article__info--non-social {
  margin: 2rem 0 1rem 0;
  display: flex;
  border-radius: 10px;
} 

.article__info--avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.article__info--non-social p {
  margin-left: 1.4rem;
  font-weight: 700;
  color: hsl(217, 19%, 35%);
  line-height: 1.6;
  font-size: 1rem;
}

.article__info--non-social-date {
  color: hsl(214, 17%, 51%);
}

.article__info--social {
  display: none;
  align-items: center;
  padding: 1rem 1.5rem 1rem 1.5rem;
  background: hsl(217, 19%, 35%);
  width: 100%;
}

.article__info--social p {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 500;
  color: hsl(212, 23%, 69%);
  margin-right: 1.5rem;
}

.article__info--social img {
  width: 1.5rem;
  margin-right: 1rem;
}

.article__info-share {
  margin-left: 13rem;
  width: 40px;
  height: 40px;
  background: hsl(210, 46%, 95%);
  border-radius: 50%;
  align-self: center;
  padding-left: 0.734rem;
  padding-top: 0.6rem;
}

.article__info--sharebutton{
  width: 17px;
  height: 17px;
}

.article__info-share:hover {
  cursor: pointer;
}

.article__info--social-share {
  margin-left: 4rem;
  width: 33px;
  height: 33px;
  background: white;
  border-radius: 50%;
  align-self: center;
  padding-left: 0.334rem;
  padding-top: 0.5rem;
}

.article__info--social-sharebutton{
  width: 16px;
  height: 16px;
  transform: rotate(35deg);
}

.article__info--social-share:hover {
  cursor: pointer;
}






@media all and (max-width: 600px) {
  .container {
    margin-top: 0;
    max-width: 1440px;
    background: white;
    margin-bottom: 2rem;
    display: flex;
      flex-direction: column;
      width: 100%;
  }
  
  img {
    max-width: 100%;
      height: auto;
  }
  
  .article-header__img--drawer{
    width: 100%;
    border-radius: 12px 12px 0 0;
  }
  
  .article__main {
    margin: 2rem 1.5rem 1rem 1.5rem;
  }
  
  .article-header__header {
    margin-bottom: 1rem;
  }
  
  .article-header__header p {
    font-weight: 700;
      font-size: 1.3rem;
      color: hsl(217, 19%, 35%);
  }
  
  .article__paragraph p {
    color: hsl(214, 17%, 51%);
    font-weight: 500;
    line-height: 1.8rem;
    font-size: 1rem;
    width: 19rem; 
  }
  
  .article__info {
    display: flex;
  }
  
  .article__info--non-social {
    margin: 2rem 1.5rem 1rem 2rem;
    display: flex;
    border-radius: 10px;
  } 
  
  .article__info--avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .article__info--non-social p {
    margin-left: 1.4rem;
    font-weight: 700;
    color: hsl(217, 19%, 35%);
    line-height: 1.6;
    font-size: 1rem;
  }
  
  .article__info--non-social-date {
    color: hsl(214, 17%, 51%);
  }
  
  .article__info--social {
    display: none;
    align-items: center;
    padding: 1rem 1.5rem 1rem 1.5rem;
    background: hsl(217, 19%, 35%);
    width: 100%;
  }
  
  .article__info--social p {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 500;
    color: hsl(212, 23%, 69%);
    margin-right: 1.5rem;
  }
  
  .article__info--social img {
    width: 1.5rem;
    margin-right: 1rem;
  }
  
  .article__info-share {
    margin-left: 4rem;
    width: 40px;
    height: 40px;
    background: hsl(210, 46%, 95%);
    border-radius: 50%;
    align-self: center;
    padding-left: 0.734rem;
    padding-top: 0.6rem;
  }
  
  .article__info--sharebutton{
    width: 17px;
    height: 17px;
  }
  
  .article__info-share:hover {
    cursor: pointer;
  }
  
  .article__info--social-share {
    margin-left: 4rem;
    width: 33px;
    height: 33px;
    background: white;
    border-radius: 50%;
    align-self: center;
    padding-left: 0.334rem;
    padding-top: 0.5rem;
  }
  
  .article__info--social-sharebutton{
    width: 16px;
    height: 16px;
    transform: rotate(35deg);
  }
  
  .article__info--social-share:hover {
    cursor: pointer;
  }

}

@media all and (min-width: 374px) and (max-width: 599px) {
  .article__paragraph p {
      width: 100%;
}

.article__info {
  justify-content: center;

}

@media all and (max-width: 374px) {
  .article__info--non-social p {
    font-size: 0.8rem;
  }
}

@media all and (max-width: 344px) {
  .article__info--non-social p {
    font-size: 0.7rem;
  }

}